@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: royalblue;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.original_text {
  padding: 40px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.original_text.teaser {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  -webkit-animation: fadeIn .5s ease-in-out forwards;
          animation: fadeIn .5s ease-in-out forwards;
}

.translation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 20%;
}

.translation .character {
  height: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: scaling 0.8s cubic-bezier(0.44, 0, 0.4, 1.63) forwards;
          animation: scaling 0.8s cubic-bezier(0.44, 0, 0.4, 1.63) forwards;
  padding: 0 16px;
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    color: rgba(255, 255, 255, 0);
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: white;
  }
}

@keyframes fadeIn {
  0% {
    color: rgba(255, 255, 255, 0);
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: white;
  }
}
