@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(233, 233, 233);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.backgroundCol{
    background: royalblue;
}

.original_text{
    padding: 40px;
    color:rgba(0, 0, 0,0.5);
    text-align: center;
    font: {
        family: 'Open Sans', sans-serif;
        size: 14px;
    }
    &.teaser{
        color: rgba($color: #fff, $alpha: 1.0);
        text-align: center;
        font: {
            family: 'Open Sans', sans-serif;
            size: 40px; 
        }
    }
}


.translation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    .character{
        height: 100%;
        transform-origin: center;
        animation: scaling .8s cubic-bezier(0.44, 0, 0.4, 1.63);
        padding: 0 16px;
    }
}

@keyframes scaling{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
